.home {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .todo-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
        padding: 30px;
        width: 60%;
        border: solid white 3px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom: none;
    }
}

.search {
    .search-bar {
        background-color: var(--secondary);
        border-radius: 30px;
        border: none;
        padding: 15px;
        color: var(--text-color);
        font-size: var(--regular-font-size);
        padding-left: 25px;
        margin-bottom: 20px;
        width: auto;
        max-width: 750px;
        min-width: 500px;
    }
}