.todoform {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 50px;
    .cust {
        width: auto;
        border: none;
        min-width: 400px;
        max-width: 500px;
    }
}